<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Muscle</th>
            </tr>
            <tr *ngFor="let item of data">
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.muscle}}</td>
                
    
    
    
            </tr>
        </table>
    </div>
    
</body>
</html>